{{define "index"}}


<ul class="menu">
	<li><a href="/main"><button class="std">Home</button></a></li>
	<li><a href="/notHome"><button class="std">Not Home</button></a></li>

</ul>


	


<div class="main">
	

	

</div>




	
	
{{end}}