{{define "main"}}
<!DOCTYPE html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/public/css/main.css">
	</head>
	<body>
		<div id="header">
			<h1 class="mainHeader">
				Header
			</h1>
			<div class="center repo"><a href="http://www.github.com/url">View this application's repository</a>.</div>
		</div>
		<div id="main">
			{{template "index" .}}
			<div ng-view></div>
		</div>
		<script data-main="../public/js/main" src="../public/js/bower_components/requirejs/require.js"></script>
	</body>
</html>
{{end}}